.grid{
    display: grid;
    grid-template-rows: auto 1fr;
}
/* Add border between files */
.results-row, .results-row-header {
    border-bottom: 2px solid #777;
}

/* The last file in a group of file has a separate border color */
.results-row.is-last {
    border-bottom-color: #4782eb;
}