<ion-list lines="none">
  <ion-item-group class="group">
    <ion-item>
      <ion-label class="ion-text-nowrap"
        >Add directory <ion-text color="danger">(Required)</ion-text></ion-label
      >
      <ion-button
        shape="round"
        matTooltip="Choose directory using dialog"
        (click)="selectDirectory()"
        [disabled]="isSearchRunning"
      >
        <ion-icon name="add" size="large" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button
        shape="round"
        matTooltip="Enter directory path manually"
        (click)="showPopOver($event)"
        [disabled]="isSearchRunning"
      >
        <ion-icon name="create" size="large" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-popover
        #manuallyAddedFolderInput
        size="auto"
        alignment="center"
        side="bottom"
        [isOpen]="isOpen"
        (didDismiss)="closePopOver()"
      >
        <ng-template>
          <ion-content class="ion-padding">
            <ion-item>
              <ion-input
                label="Enter the full path to the directory"
                type="text"
                clearInput="true"
                placeholder="C:\Users\bello\Desktop\"
                label-placement="floating"
                [(ngModel)]="manuallyAddedDirectory"
              ></ion-input>
            </ion-item>
            <ion-button
              shape="round"
              class="ion-float-end"
              (click)="closePopOver()"
            >
              <ion-icon color="danger" name="ban" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button
              shape="round"
              class="ion-float-end"
              (click)="manuallyAddDirectory()"
            >
              <ion-icon name="save" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-item>
    @if (searchParametersErrors.folders.length != 0) {
    <ion-item class="fit"
      ><ion-note color="danger">
        {{ searchParametersErrors.folders[0] }}
      </ion-note>
    </ion-item>
    }
    <ion-item>
      @if(searchParameters.folders.length == 0) {
      <ion-label class="ion-text-center"
        >No directories added for now</ion-label
      >
      } @else {
      <!-- <ion-content> -->
      <ion-list lines="none" class="content-nowrap">
        @for (folder of searchParameters.folders; track folder) {
        <ion-item>
          <ion-label class="ion-text-nowrap" [matTooltip]="folder">
            {{ folder }}
          </ion-label>
          <ion-button
            shape="round"
            slot="end"
            (click)="removeDirectory($event)"
            [disabled]="isSearchRunning"
          >
            <ion-icon name="close" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-item>
        }
      </ion-list>
      <!-- </ion-content> -->
      }
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item>
      <ion-select
        interface="popover"
        placeholder="Select a search type"
        [(ngModel)]="searchParameters.fileSearchType"
        (ngModelChange)="clearErrorMessages('fileSearchType')"
        [disabled]="isSearchRunning"
        labelPlacement="stacked"
      >
        <div slot="label">
          Search type <ion-text color="danger">(Required)</ion-text>
        </div>
        @for (searchType of fileSearchType | keyvalue; track $index) {
        <ion-select-option [value]="searchType.value">{{
          searchType.key
        }}</ion-select-option>
        }
      </ion-select>
    </ion-item>
    @if (searchParametersErrors.fileSearchType.length != 0) {
    <ion-item class="fit"
      ><ion-note color="danger">
        {{ searchParametersErrors.fileSearchType[0] }}
      </ion-note>
    </ion-item>
    }
  </ion-item-group>

  @if(searchParameters.fileSearchType == fileSearchType.Images){
  <ion-item-group>
    <ion-item>
      <ion-select
        interface="popover"
        placeholder="Select a perceptual hash algorithm"
        labelPlacement="stacked"
        [(ngModel)]="searchParameters.perceptualHashAlgorithm"
        (ngModelChange)="clearErrorMessages('perceptualHashAlgorithm')"
        [disabled]="isSearchRunning"
      >
        <div slot="label">
          Perceptual hash algorithm
          <ion-text color="danger">(Required)</ion-text>
        </div>
        @for (algorithm of perceptualHashAlgorithm | keyvalue; track $index) {
        <ion-select-option [value]="algorithm.value">{{
          algorithm.key
        }}</ion-select-option>
        }
      </ion-select>
    </ion-item>
    @if (searchParametersErrors.perceptualHashAlgorithm.length != 0) {
    <ion-item class="fit"
      ><ion-note color="danger">
        {{ searchParametersErrors.perceptualHashAlgorithm[0] }}
      </ion-note>
    </ion-item>
    }
  </ion-item-group>
  <ion-item-group>
    <ion-item>
      <ion-input
        type="number"
        placeholder="5"
        counter="1"
        max="20"
        min="0"
        [(ngModel)]="searchParameters.degreeOfSimilarity"
        (ngModelChange)="clearErrorMessages('degreeOfSimilarity')"
        label-placement="floating"
        [disabled]="isSearchRunning"
      >
        <div slot="label">
          Degree of similarity <ion-text color="danger">(Required)</ion-text>
        </div>
      </ion-input>
    </ion-item>
    @if (searchParametersErrors.degreeOfSimilarity.length != 0) {
    <ion-item class="fit"
      ><ion-note color="danger">
        {{ searchParametersErrors.degreeOfSimilarity[0] }}
      </ion-note>
    </ion-item>
    }
  </ion-item-group>
  }

  <ion-item>
    <ion-toggle
      labelPlacement="start"
      [(ngModel)]="searchParameters.includeSubFolders"
      [disabled]="isSearchRunning"
    >
      Include subdirectories
    </ion-toggle>
  </ion-item>
  <ion-item-group>
    <ion-item>
      <ion-input
        label="Minimum size"
        type="number"
        placeholder="5"
        counter="1"
        [max]="maxValue"
        min="0"
        [(ngModel)]="searchParameters.minSize"
        (ngModelChange)="clearErrorMessages('minSize')"
        label-placement="floating"
        [disabled]="isSearchRunning"
      ></ion-input>
    </ion-item>
    @if (searchParametersErrors.minSize.length != 0) {
    <ion-item class="fit"
      ><ion-note color="danger">
        {{ searchParametersErrors.minSize[0] }}
      </ion-note>
    </ion-item>
    }
  </ion-item-group>

  <ion-item-group>
    <ion-item>
      <ion-input
        label="Maximum size"
        type="number"
        placeholder="5"
        counter="1"
        [max]="maxValue"
        min="0"
        [(ngModel)]="searchParameters.maxSize"
        (ngModelChange)="clearErrorMessages('maxSize')"
        label-placement="floating"
        [disabled]="isSearchRunning"
      ></ion-input>
    </ion-item>
    @if (searchParametersErrors.maxSize.length != 0) {
    <ion-item class="fit"
      ><ion-note color="danger">
        {{ searchParametersErrors.maxSize[0] }}
      </ion-note>
    </ion-item>
    }
  </ion-item-group>

  <ion-item>
    <div class="ion-chip-group full-width">
      <ion-input
        label="Enter extensions to include"
        id="extensionsToInclude"
        class="wrap"
        placeholder="pdf"
        labelPlacement="floating"
        (keydown.enter)="addExtension($event)"
        (keydown.backspace)="removeExtension($event)"
        (keypress)="restoreChip($event)"
        (focusout)="restoreChip($event)"
        [disabled]="isSearchRunning"
      ></ion-input>
    </div>
  </ion-item>

  <ion-item>
    <div class="ion-chip-group full-width">
      <ion-input
        label="Enter extensions to exlude"
        id="extensionsToExclude"
        class="wrap"
        placeholder="pdf"
        labelPlacement="floating"
        (keydown.enter)="addExtension($event)"
        (keydown.backspace)="removeExtension($event)"
        (keypress)="restoreChip($event)"
        (focusout)="restoreChip($event)"
        [disabled]="isSearchRunning"
      ></ion-input>
    </div>
  </ion-item>
</ion-list>

@if(isSearchRunning){
<ion-button shape="round" class="ion-float-end" (click)="cancelSearch()">
  <ion-icon color="danger" name="ban" slot="icon-only"></ion-icon>
</ion-button>
} @else{
<ion-button shape="round" class="ion-float-end" (click)="launchSearch()">
  <ion-icon name="search" slot="icon-only"></ion-icon>
</ion-button>
}
