<ion-button
  shape="round"
  color="warning"
  matTooltip="Show errors which happened during the current search"
  (click)="showPopOver($event)"
  class="ion-float-end"
>
  <ion-icon name="alert" slot="icon-only"></ion-icon
></ion-button>
<ion-popover
  #errorsList
  size="auto"
  alignment="left"
  side="bottom"
  [isOpen]="isOpen"
  (didDismiss)="closePopOver()"
>
  <ng-template>
    <ion-content scroll-y="false">
      <cdk-virtual-scroll-viewport
        itemSize="56"
        [minBufferPx]="screenHeight"
        [maxBufferPx]="screenHeight"
        class="ion-content-scroll-host"
      >
        <ion-list lines="none">
          @if(errors.length == 0){
          <ion-item>No errors for the moment</ion-item>
          } @else {
          <ion-item *cdkVirtualFor="let error of errors" tabindex="-1">
            <ion-label class="ion-text-nowrap" [matTooltip]="error">
              {{ error }}
            </ion-label>
            <ion-button shape="round" slot="end" (click)="deleteError($event)">
              <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-item>
          }
        </ion-list>
      </cdk-virtual-scroll-viewport>
    </ion-content>
  </ng-template>
</ion-popover>
